.formcontainer7 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height:70vh;
 
}

    .text7{
        margin-top:20px;
        margin-left:100px;
        height:120px;
        width:400px;
        
      }

  
.button7{
    margin-top:0px;
     margin-left:600px;
     height:40px;
     background-color: #4CAF50; /* Green */
     border: none;
     color:black;
     font-weight: 100px;
     padding: 10px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     border-radius: 20px;
     width:200px
     
     }