.button5{
    background-color: white;
    border-radius: 20px;
    height: 50px;
    width: 100px;
    margin-top: 50px;
}
.button6{
    background-color: white;
    border-radius: 20px;
    height: 50px;
    width: 100px;
    margin-top: 50px;
}
.postImg{
    width:500px;
    height: 400px;
}